@font-face {
    font-family: 'Open sans';
    src: url(https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap);
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}

@font-face {
    font-family:'Neucha';
    src: url(https://fonts.googleapis.com/css2?family=Neucha&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&display=swap);
    font-size: 16px;
    line-height: 1.6em;
    color: #2A2626;
}

body {
    margin: 0;
}

header {
    display: flex;
    align-items: center;
    padding-left: 16.5%;
    width: 83.5%;
    height: 200px;
    background-color: #fe8a01;
    color: #fff;
    font-size: 30px;
}

h1,h2,h3 {
    font-family: Open sans;
    line-height: 1.2em;
}

h1 {
    font-size: 72px;
}
h2 {
    font-size: 60px;
    font-family: Neucha;
}
h3 {
    font-size: 34px;
}

section {
    display: flex;
    min-width: 1110px;
    padding: 100px 0 100px 0;
}

.header-top {
    display: flex;
    flex-direction: row;
}

.header-top h2 {
    height: 525px;
    font-size: 80px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background: url(images/background.png);
    opacity: 90%;
}

.header-bottom {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.bg-orange {
    color: #fe8a01;
}

button {
    border: none;
    background-color: #fe8a01;
    color: #fff;
    padding: 12px 24px 12px 24px;
    font-weight: bold;
}

.video {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    position: relative;
}
.content {
    position: absolute;
    margin-top: 100px;
}
.video img {
    position: absolute;
    width: 919px;
    width: 517px;
    filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

